<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
</head>
<body>
    <form action="post">
        {% csrf_token %}
        <input type="text" name="city" placeholder="Enter City">
        <input type="submit" value="Search">
    </form>

    <h2>{{ temp }}</h2>
    <h3>{{ city }}</h3>
    <p>{{ description }}</p>
    <p>
        <img src="http://openweathermap.org/img/w/{{icon}}.png" width="100px" alt="image">
    </p>

    <p>{{ day }}</p>
</body>
</html>